.main-div8{
    background-color: black;
  }
  .main-div8 .bottom img{
    width: 1000px;
  }
  
  
  /* Responsive design */
  @media screen and (min-width: 320px) and (max-width: 450px){
    .main-div8{
      padding: 0px;
    }
    .main-div8 .bottom img {
      width: 320px;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 767px){
    .main-div .bottom img {
        width: 800px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1000px){
    .main-div .bottom img {
        width: 800px;
    }
  }