.section-1 {
    margin-top: 3.5rem;
    background-color: black;
    color: #fff;
    padding: 1rem;
  }
  .section-1 .top h1 {
    font-size: 72px;
    text-align: center;
  }
  .top p {
    padding: 10px;
    text-align: center;
  }
  .gradient-color {
    background: -webkit-linear-gradient(-45deg, #5ae065, #d4f938);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section-1 .middle {
    position: relative;
    padding: 2rem;
  }
  .section-1 .middle img {
    width: 800px;
  }
  .section-1 .bottom {
    padding: 4rem;
  }
  .section-1 .bottom .sections {
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    border: 1px solid rgba(255, 255, 0, 0.218);
    border-radius: 5px;
  }
  .section-1 .bottom .sections div {
    padding: 0px 30px 0px 0px;
  }
  .section-1 .bottom .sections h1 {
    color: #ebff25;
  }
  .section-1 .bottom .sections p {
    padding: 5px;
    font-weight: 300;
    opacity: 0.7;
  }
  .section-1 .bottom .sections .border-right {
    border-right: 1px solid rgba(255, 255, 0, 0.218);
  }
  
  @media screen and (min-width: 320px) and (max-width: 450px) {
    .section-1 {
      margin-top: 3rem;
    }
    .section-1 .middle img {
      width: 300px;
    }
    .section-1 .bottom {
      padding: 0px;
    }
    .section-1 .bottom .sections {
      display: none;
    }
    .section-1 .top h1 {
      font-size: 30px;
    }
    .section-1 .middle {
      padding: 0px;
    }
  }