.main-div4{
    padding: 3rem;
    background-color: black;
    color: #fff;
    gap: 1rem;
  }
  .main-div4 .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .main-div4 .bottom{
    display: flex;
    justify-content: center;
  }
  .main-div4 .bottom img{
    width: 850px;
  }
  
  .main-div4 .gradient {
    font-weight: bold;
    background: linear-gradient(85.85deg, #d4f938 23.09%, #32d875 108.69%);
    box-shadow: 0px 0px 16px 0px #a8ef9ccc;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  
  /* Responsive design */
  @media screen and (min-width: 320px) and (max-width: 450px){
    .main-div4 {
      padding: 1rem;
    }
    .main-div4 h1{
      text-align: center;
    }
    .main-div4 .bottom img {
      width: 300px;
  }
  }